body{
    background: white;
}
/*版心*/
.container{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    /*盒子居中*/
    margin: 0 auto;
}
.search{
    width: 100%;
    height: 50px;
    /*一直处于浮层效果*/
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
}
.search .search_box{
    height: 50px;
    background: rgba(0,0,0,0.2);
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.search .search_box .icon_logo {
    position: absolute;
    left:10px;
    top:18px;
    height: 10px;
    width:176px;
    background-position:0 -15px;
}
.search .search_box .more{
    position: absolute;
    right:10px;
    top:10px;
    height: 22px;
    width:30px;
    background: url("../images/sprites.png");
    background-size:200px 200px;
    background-position:2px -30px;
}
/*图片的自适应 用不同的百分比*/
.banner{
    width:100%;
    overflow: hidden;
    position:relative
}
/*轮播图其实就是横向调用 是一个长图*/
.banner ul:first-child{
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}
.banner ul:first-child li{
    width: 10%;
    float: left;
}
.banner ul:first-child li a{
    display: block;
    width:100%;
}
.banner ul:first-child li a img{
    display: block;
    width: 100%;
}
/*这个lastchild是小点点*/
.banner ul:last-child{
    position: absolute;
    width: 118px;
    height: 6px;
    left:50%;
    margin-left: -59px;
    bottom: 6px;
}
.banner ul:last-child li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: white;
    opacity: 0.5;
    margin-left: 10px;
    float: left;
}
.banner ul:last-child li:first-child{
    margin-left: 0;
}
.banner ul:last-child li.now{
    background: white;
    opacity: 1;
}
/*导航栏*/
.nav{
    width: 100%;
    background: white;
}
.nav ul{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.nav ul li:first-child a p{
    text-align: center;
    font-size: 16px;
    color: black;
    font-family: "Arial Black";
}
.nav ul li:last-child a p{
    text-align: center;
    font-size: 16px;
    color: black;
}
.nav img{
    width: 100%;
    margin:0 auto;
}

/*内容1*/
.product_box{
    margin-top: 30px;
    padding: 20px 0;
    background: white;
}
.product_box .tit{
    height: 34px;
    line-height: 34px;
}
.product_box .tit .name{
    float:left;
    margin-left: 10px;
    font-size: 16px;
    color: black;
    font-family: "Arial Black";
}
.product_box .tit a{
    font-size: 16px;
    color: black;
    font-family: "Arial Black";
}
/*图片的适配*/
.pro{
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
}
.pro li{
    width: 50%;
    float: left;
}
.pro li a{
    display: block;
}
.pro li a img{
    display: block;
    margin:0 auto;
    width: 95%;
}
.pro li p{
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}
/*一个区域不同大小图片的适配*/
.w_50p{
    width: 50%;
}
.w_50p img{
    display: block;
    width: 100%;
}
.bl{
    padding-right: 5px;
}
.br{
    padding-left: 5px;
}
.bb{
    padding-left: 5px;
    padding-top: 5px;
}
.con_03{
    margin-top: -40px;
}
.con_04 ul li:first-child a p{
    text-align: left;
    font-size: 16px;
    color: black;
    font-family: "Arial Black";
    padding-left: 20px;
    padding-bottom: 40px;
}
.con_04 ul li:last-child a p{
    text-align: left;
    font-size: 16px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.con_05{
    width: 100%;
    position: relative;
}
.con_05 a img{
    display: block;
    width: 100%;
}