# Compiled class file
*.class
# Eclipse project folder and files
/target/
/dihlogs/
/.classpath
/.project
/.settings/

target/
target
*~
*.class
.settings
.settings/
.classpath
.project
.idea
.idea/
*.iml
logs/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
