/*==========reset css==============*/
*{
	margin:0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: monospace, "Microsoft YaHei", sans-serif;
	color:black;
}
ul{
	list-style: none;
}
a{
	color:black;
	text-decoration: none;
}
/*==========model css==============*/
body{
	background: #f9f8f2;
}
/*1-导航*/
.screen01{
	background: url("../images/coffee_bg.png") no-repeat center/cover;
	width: 100%;
	height: 800px;
}
.content_01_box{
	height: 40px;
	width: 100%;
	margin:0 auto;
	position: relative;
}
.content_01_box a{
	color: white;
}
.content_01_box .logo{
	position: absolute;
	font-size: 2rem;
	left: 2%;
	top: 10%;
	font-family: "Arial Black";
}
.content_01_box .text{
	position:absolute;
	right: 2%;
	top: 50%;
	font-size: 1rem;
	text-align: center;
}
.content_02_box{
	height: 300px;
	width: 100%;
	margin:0 auto;
	position: relative;
}
.content_02_box a{
	color: white;
}
.content_02_box .fashion{
	position: absolute;
	left:2%;
	top: 20%;
	font-size: 5.7rem;
	font-family: "Arial Black";
}
.content_02_box .list{
	position:absolute;
	right: 2%;
	top: 28%;
	text-align: right;
	font-size: 2rem;
	font-family: "Arial Black";
}
.wrapper_box a:hover{
	color: #e1c3a8;
}

.mouse{
	position: absolute;
	width: 26px;
	height: 46px;
	border: 2px solid white;
	border-radius:20px;
	left:50%;
	margin-left: -13px;
	bottom: 10%;
}
.mouse .dot{
	position: absolute;
	width: 6px;
	height: 6px;
	background: white;
	border-radius: 50%;
	margin-left: 8px;
	margin-top: 10px;
	animation: dot01 1s ease infinite alternate ;
}

@keyframes dot01 {
	from{}
	to{
		/*上下移动*/
		transform: translateY(20px)
	}
}

/*2-第二屏幕*/
.screen02{
	width: 100%;
	margin-top:300px;
}
.con_02{
	width: 100%;
	position: relative;
}

.con_02 .title_content{
	width: 30%;
	padding-left:8%;
}
.screen02_title{
	display: inline-block;
	font-size: 2rem;
	font-family: "Arial Black";
	position: relative;
	text-decoration: none;
	color: #000;
}
.screen02_title::after{
	content:'';
	display:block;
	/*开始时候下划线的宽度为0*/
	width:0;
	height:3px;
	position:absolute;
	left:0;
	bottom:-4px;
	background:#000;
	/*这里我们设定所有改变都有动画效果，可以自己指定样式才有动画效果*/
	transition:all 0.3s ease-in-out;
}
.screen02_title:hover::after{
	width:100%;
}
.con_02 .pic{
	width: 40%;
}
.con_02 .pic img{
	display: block;
	width: 100%;
}
.con_02 .text{
	width: 30%;
	font-size: 1.2rem;
	font-family: "Arial Black";
	padding-left: 4%;
	padding-right: 6%;


}

/*2-第二屏幕-动画*/
.screen02.now {
	animation: screen02 1s ease forwards;
}

@keyframes screen02 {
	from{}
	to{
		/*上下移动*/
		transform: translateY(-150px)
	}
}

/*第三屏幕*/
.screen03{
	width: 100%;
	margin-top:100px;
}
.con_03{
	width: 100%;
	position: relative;
}

.con_03 .pic_01{
	width: 60%;
}
.con_03 .pic_01 img{
	display: block;
	width: 90%;
}
.con_03 .pic_02{
	width: 30%;
}
.con_03 .pic_02 img{
	display: block;
	width: 90%;
	padding-top: 92%;
}

.con_03 .title_content{
	width: 30%;
	padding-left:8%;
}
.screen02_title{
	display: inline-block;
	font-size: 2rem;
	font-family: "Arial Black";
	position: relative;
	text-decoration: none;
	color: #000;
}
.screen02_title::after{
	content:'';
	display:block;
	/*开始时候下划线的宽度为0*/
	width:0;
	height:3px;
	position:absolute;
	left:0;
	bottom:-4px;
	background:#000;
	/*这里我们设定所有改变都有动画效果，可以自己指定样式才有动画效果*/
	transition:all 0.3s ease-in-out;
}
.screen02_title:hover::after{
	width:100%;
}



/*3-第三屏幕-动画*/
.screen03.now {
	animation: screen02 1s ease forwards;
}

/*4-第四屏幕*/
.screen04{
	width: 100%;
	margin-top:200px;
}
.con_04{
	width: 100%;
	position: relative;
}
.con_04 .text{
	width: 60%;
	font-size: 1.2rem;
	font-family: "Arial Black";
	padding-bottom: 10%;
	padding-left: 8%;
}
.con_04 .pic{
	width: 50%;
}
.con_04 .pic img{
	display: block;
	width: 100%;
	padding-left: 8%;
}
.con_04 .title_content{
	padding-right: 10%;
}

/*4-第四屏幕-动画*/
.screen04.now {
	animation: screen02 1s ease forwards;
}

/*5-第五屏幕*/
.screen05{
	margin-top: 100px;
}
.screen05 .pic{
	margin-left: 30px;
	float: left;
}
.screen05 .title_content{
	float: left;
	margin-top: 0px;
}
.screen05 .text{
	display: inline-block;
	float: right;
	margin-right: 150px;
	width: 300px;
	margin-top: 450px;

}
/*4-第四屏幕-动画*/
.screen05.now {
	animation: screen02 1s ease forwards;
}

.screen06{
	margin-top: 400px;
}
.screen06 .title_content{
	margin-top: -160px;
}
.screen06 .wrap_01{
	width: 310px;
	height: 700px;
	float: left;
	margin-left: 200px;
}
.screen06 .wrap_02{
	width: 310px;
	height: 700px;
	float: left;
	margin-top: 100px;
	margin-left: 120px;
}
.screen06 .wrap_03{
	width: 310px;
	height: 700px;
	float: right;
	margin-top: -200px;
	margin-right: 80px;
}
.screen06 span{
	font-size: 20px;
	font-family: "Arial Black";
}
/*4-第六屏幕-动画*/
.screen06.now .title_content{
	animation: screen02 1s ease forwards;
}
.screen06.now .wrap_01{
	animation: screen02 2s ease forwards;
}
.screen06.now .wrap_02{
	animation: screen02 2.5s ease forwards;
}
.screen06.now .wrap_03{
	animation: screen02 1.5s ease forwards;
}

/*footer*/
.footer .content{
	position: absolute;
	width: 1370px;
	height: 800px;
	background: #e1dcba;
	margin-top: 60px;
	left:50%;
	margin-left: -685px;
}
.footer .logo{
	margin-left: 68px;
	margin-top: 50px;
}
.footer .table_warp{
	margin-left: 50px;
	margin-top: 130px;
}
.table_warp a{
	display: inline-block;
	padding-top: 10px;
}
.footer .table01{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}
.footer .table02{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}
.footer .table03{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}
.footer .table04{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}

.footer p{
	font-size: 14px;
	font-family: "Arial Black";
}
.footer ul li{
	font-size:14px;
}
.footer .email_warp{
	width: 400px;
	height: 100px;
	margin-left: 68px;

}
.footer .text{
	display: inline-block;
	float: left;
	margin-top: 20px;
}
.footer .submit{
	display: inline-block;
	float: left;
	margin-top: 20px;
}


input[type="text"]{
	-web-kit-appearance:none;
	-moz-appearance: none;
	display: block;
	margin: 0 auto;
	font-size:15px;
	width: 240px;
}
input[type="submit"]{
	-web-kit-appearance:none;
	-moz-appearance: none;
	display: block;
	margin: 0 auto;
	font-size:15px;
	width: 140px;
}
input[type="text"]{
	height:34px;
	border:2px solid #333333;
	color:#333333;
	outline:0;
}
input[type="submit"]{
	height: 38px;
	border:2px solid #333333;
	/*background: #333333;*/
	color: #333333;
	/*font-weight: bold;*/
	font-size: 16px;
	margin-left: -2px;
}
input[type="submit"]:hover{
	background: #333333;
	color: #ffffff;
	cursor: pointer;}

.copyright{
	margin-left: 650px;
	margin-top: 250px;
}
.copyright .a{
	display: inline-block;
}