/*==========reset css==============*/
*{
    margin:0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: monospace, "Microsoft YaHei", sans-serif;
    color:black;
    background: #29689b;
}
ul{
    list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
/*==========model css==============*/
/*1-导航*/
.nav_box{
    background: url("../images/fashion_bg.png") no-repeat center/cover;
    width: 100%;
    height: 800px;
}
.content_01_box{
    height: 40px;
    width: 100%;
    margin:0 auto;
    position: relative;
}
.content_01_box .logo{
    position: absolute;
    font-size: 2rem;
    left: 2%;
    top: 10%;
    font-family: "Arial Black";
}
.content_01_box .text{
    position:absolute;
    right: 2%;
    top: 50%;
    font-size: 1rem;
    text-align: center;
}
.content_02_box{
    height: 300px;
    width: 100%;
    margin:0 auto;
    position: relative;
}
.content_02_box .fashion{
    position: absolute;
    left:2%;
    top: 20%;
    font-size: 5.7rem;
    font-family: "Arial Black";
}
.content_02_box .list{
    position:absolute;
    right: 2%;
    top: 28%;
    text-align: right;
    font-size: 2rem;
    font-family: "Arial Black";
}
.nav_box a:hover{
    color: #333333;
}

.mouse{
    position: absolute;
    width: 26px;
    height: 46px;
    border: 2px solid white;
    border-radius:20px;
    left:50%;
    margin-left: -13px;
    bottom: 10%;
}
.mouse .dot{
    position: absolute;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 10px;
    animation: dot01 1s ease infinite alternate ;
}

@keyframes dot01 {
    from{}
    to{
        /*上下移动*/
        transform: translateY(20px)
    }
}
/*2-news*/
.news{
    width: 100%;
    height: 500px;
}
.news_box{
    height: 500px;
    background:rgba(249,180,70,1);
    width: 100%;
    margin:0 auto;
    position: relative;
}
.news_box .news_title{
    position: absolute;
    right:50%;
    top:20%;
    font-size: 1.2rem;
    font-family: "Arial Black";
}
.news_box .news_text{
    position: absolute;
    width: 30%;
    right:10%;
    top:20%;
    font-size: 1.2rem;
}
/*第一屏*/
.look_book_01{
    width: 100%;
}
.look_book_01_box{
    width: 100%;
    position: relative;
}
.look_book_01_box .bg{
    height:700px;
    background: url("../images/lookbook_bg_01.png") no-repeat center/cover;
}
.look_book_01_box .content_box{
    height: 500px;
    width:100%;
    margin:0 auto;
    position: relative;
    background:#919538;
}

.look_book_01_box .content_box .pic{
    position: absolute;
    left:10%;
    top:-20%;
}

.look_book_01_box .content_box .title{
    position: absolute;
    left:60%;
    top: 38%;
    font-size: 1.2rem;
    font-family: "Arial Black";
}
.look_book_02{
    width: 100%;
}
.look_book_02 .bg{
    width: 100%;
    height: 700px;
    background: url("../images/lookbook_bg_02.png") no-repeat center/cover;
}
.look_book_02 .content_box{
    background: #a79783;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.look_book_02 .content_box .pic{
    position: absolute;
    top: -10%;
    right: 10%;
}
.look_book_02 .content_box .title{
    position:absolute;
    top: 35%;
    left: 10%;
    font-size: 1.2rem;
    font-family: "Arial Black";
}
.look_book_03{
    width: 100%;
}
.look_book_03_box{
    width: 100%;
    position: relative;
}
.look_book_03 .bg{
    width: 100%;
    height: 700px;
    background: url("../images/lookbook_bg_03.png") no-repeat center/cover;
}
.look_book_03 .content_box{
    background: #29699b;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.look_book_03 .content_box .pic{
    position: absolute;
    top:-20%;
    left: 8%;
}
.look_book_03 .content_box .title{
    position:absolute;
    top: 45%;
    left: 50%;
    font-size: 1.2rem;
    font-family: "Arial Black";
}
.footer{
    width: 100%;
    height: 700px;
}
.footer .content_box{
    width: 96%;
    position: relative;
    height: 800px;
    margin: 0 auto;
    top: 10%;
    background: #7c9eb1;
}
.footer .content_box .logo{
    position: absolute;
    font-size: 2rem;
    left: 8%;
    top: 10%;
    font-family: "Arial Black";
}
.footer .content_box .table_warp{
    position: absolute;
    display: block;
    width: 100%;
    top: 26%;
    padding-left: 8%;
}
.table_warp a{
    display: inline-block;
    padding-top: 4%;
}
.footer ul li{
    font-size:1rem;
}
.footer .table01{
    width: 25%;
    float: left;
}
.footer .table02{
    width: 25%;
    float: left;
}
.footer .table03{
    width: 25%;
    float: left;
}
.footer .table04{
    width: 25%;
    float: left;
}
/*邮箱输入框*/
.footer .content_box .email_warp{
    width: 100%;
}
.email_warp_box{
    width: 100%;
    position: absolute;
    padding-left: 8%;
    top: 56%;
}
.footer p{
    font-size: 1rem;
    font-family: "Arial Black";
}
.email_warp_box .E-mail{
    padding-bottom: 2%;
}

.email_warp_box input{
    float: left;
}
/*邮箱输入框样式-宽*/
input[type="text"]{
    -web-kit-appearance:none;
    -moz-appearance: none;
    display: block;
    margin: 0 auto;
    font-size:1rem;
    width: 240px;
}
input[type="submit"]{
    -web-kit-appearance:none;
    -moz-appearance: none;
    display: block;
    margin: 0 auto;
    font-size:1rem;
    width: 140px;
}
/*邮箱输入框样式-高和边框*/
input[type="text"]{
    height:38px;
    border:2px solid #333333;
    color:#333333;
    outline:0;
}
input[type="submit"]{
    height: 38px;
    border:2px solid #333333;
    /*background: #333333;*/
    color: #333333;
    /*font-weight: bold;*/
    font-size: 16px;
    margin-left: -2px;
}
input[type="submit"]:hover{
    background: #333333;
    color: #ffffff;
    cursor: pointer;}

.footer .copyright{
    width: 100%;
}
.footer .copyright a{
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -225px;
    bottom:10%;
}


