/*==========reset css==============*/
*{
	margin:0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: monospace, "Microsoft YaHei", sans-serif;
	color:black;
}
ul{
	list-style: none;
}
a{
	color:black;
	text-decoration: none;
}
/*==========model css==============*/
/*1-第一屏幕*/
.screen01{
	background: url("../images/cos_bg.png") no-repeat center/cover;
	width: 100%;
	height: 800px;
}
.screen01 .logo{
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}
.screen01 .text{
	display: inline-block;
	float: right;
	margin-right: 50px;
	color: #ffffff;
	margin-top: 30px;

}
.content_02{
	height: 300px;
	width: 100%;
}
.screen01 .fashion{
	display: inline-block;
	float: left;
	font-size: 80px;
	font-family: "Arial Black";
	margin-top: 100px;
	margin-left: 20px;
}
.screen01 .fashion a{
	color:#ffffff;
}
.screen01 .list{
	display: inline-block;
	float: right;
	text-align: right;
	margin-top: 80px;
	margin-right: -160px;
	font-size: 30px;
	font-family: "Arial Black";
}
.screen01 .list a{
	color:#ffffff;
}
.screen01 a:hover{
	color: #cad8e3;
}
.screen01 .mouse{
	position: absolute;
	width: 26px;
	height: 46px;
	border: 2px solid white;
	border-radius:20px;
	left:50%;
	margin-left: -13px;
	margin-top: 300px;
}
.screen01 .mouse .dot{
	position: absolute;
	width: 6px;
	height: 6px;
	background: white;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
	animation: dot01 1s ease infinite alternate ;
}

@keyframes dot01 {
	from{}
	to{
		/*上下移动*/
		transform: translateY(20px)
	}
}
/*2-第二屏幕*/
.screen02{
	margin-top: 300px;
}
.title_content{
	float: left;
	margin-left: 200px;
	margin-top: 300px;
}
.screen02_title{
	display: inline-block;
	font-size: 40px;
	font-family: "Arial Black";
	position: relative;
	text-decoration: none;
	color: #000;
}
.screen02_title::after{
	content:'';
	display:block;
	/*开始时候下划线的宽度为0*/
	width:0;
	height:3px;
	position:absolute;
	left:0;
	bottom:-4px;
	background:#000;
	/*这里我们设定所有改变都有动画效果，可以自己指定样式才有动画效果*/
	transition:all 0.3s ease-in-out;
}
.screen02_title:hover::after{
	width:100%;
}
.screen02 .text{
	font-size: 20px;
	text-align: center;
}


/*2-第二屏幕-动画*/
.screen02.now {
	animation: screen02 1s ease forwards;
}
.screen02.now .screen02_title {
	animation: screen02 2s ease forwards;
}

@keyframes screen02 {
	from{}
	to{
		/*上下移动*/
		transform: translateY(-150px)
	}
}

/*第三屏幕*/
.screen03{
	margin-top:40px;
}
.screen03 .content{
	position: absolute;
	width: 1360px;
	left: 50%;
	margin-left: -680px;
}
.screen03 .warp_01{
	width: 440px;
	float: left;
}
.screen03 .warp_02{
	width: 440px;
	float: left;
	margin-left: 20px;
}
.screen03 .warp_03{
	width: 440px;
	float: right;
}
.screen03 .title{
	font-size: 30px;
	font-family: "Arial Black";
	margin-top: 10px;
	margin-bottom: 20px;
}
.screen03 .text{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.screen03 a{
	font-size: 16px;
	font-family: "Arial Black";
	text-decoration:underline;
}
.screen03 .screen02_title{
	margin-top: 260px;
}

/*3-第三屏幕-动画*/
.screen03.now {
	animation: screen02 1s ease forwards;
}
.screen03.now .screen02_title{
	animation: screen02 1s ease 0.5s forwards;
}

/*4-第四屏幕*/
.screen04{
	margin-top: 100px;
}
.screen04 .content_01,.screen04 .content_02 {
	position: absolute;
	width: 1380px;
	left:50%;
	margin-left: -690px;
}
.screen04 .content_01 .warp_01,
.screen04 .content_02 .warp_01{
	width: 330px;
	float: left;
}
.screen04 .content_01 .warp_02,
.screen04 .content_02 .warp_02{
	width: 330px;
	float: left;
	margin-left: 20px;
}
.screen04 .content_01 .warp_03,
.screen04 .content_02 .warp_03 {
	width: 330px;
	float: left;
	margin-left: 20px;
}
.screen04 .content_01 .warp_04,
.screen04 .content_02 .warp_04{
	width: 330px;
	float: right;
}
.screen04 .text{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.screen04 .content_02{
	margin-top: 800px;
}
/*4-第四屏幕-动画*/
.screen04.now {
	animation: screen02 1s ease forwards;
}
.screen04.now .content_02{
	animation: screen02 1s ease 0.5s forwards;
}

/*5-第五屏幕*/
.screen05{
	margin-top: 600px;
}
.screen05 .pic{
	position: absolute;
	left: 50%;
	margin-left: -342px;
}
.screen05 .screen02_title{
	font-size: 30px;
	margin-top: 200px;
	margin-left: 60px;
}
.screen05 .text{
	width: 150px;
	float: right;
	margin-top: 300px;
	margin-right: 50px;
}


/*4-第四屏幕-动画*/
.screen05.now {
	animation: screen02 1s ease forwards;
}
.screen05.now .screen02_title{
	animation: screen02 1.5s ease forwards;
}
.screen05.now .text{
	animation: screen02 2s ease forwards;
}

/*footer*/
.footer .content{
	position: absolute;
	width: 1370px;
	height: 800px;
	background: #d0d8d1;
	margin-top: 30px;
	left:50%;
	margin-left: -685px;
}
.footer .logo{
	margin-left: 68px;
	margin-top: 50px;
}
.footer .table_warp{
	margin-left: 50px;
	margin-top: 130px;
}
.table_warp a{
	display: inline-block;
	padding-top: 10px;
}
.footer .table01{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}
.footer .table02{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}
.footer .table03{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}
.footer .table04{
	width: 300px;
	height: 300px;

	float: left;
	padding-left: 20px;
}

.footer p{
	font-size: 14px;
	font-family: "Arial Black";
}
.footer ul li{
	font-size:14px;
}
.footer .email_warp{
	width: 400px;
	height: 100px;
	margin-left: 68px;

}
.footer .text{
	display: inline-block;
	float: left;
	margin-top: 20px;
}
.footer .submit{
	display: inline-block;
	float: left;
	margin-top: 20px;
}


input[type="text"]{
	-web-kit-appearance:none;
	-moz-appearance: none;
	display: block;
	margin: 0 auto;
	font-size:15px;
	width: 240px;
}
input[type="submit"]{
	-web-kit-appearance:none;
	-moz-appearance: none;
	display: block;
	margin: 0 auto;
	font-size:15px;
	width: 140px;
}
input[type="text"]{
	height:34px;
	border:2px solid #333333;
	color:#333333;
	outline:0;
}
input[type="submit"]{
	height: 38px;
	border:2px solid #333333;
	/*background: #333333;*/
	color: #333333;
	/*font-weight: bold;*/
	font-size: 16px;
	margin-left: -2px;
}
input[type="submit"]:hover{
	background: #333333;
	color: #ffffff;
	cursor: pointer;}

.copyright{
	margin-left: 650px;
	margin-top: 250px;
}
.copyright .a{
	display: inline-block;
}